<a href="https://colab.research.google.com/github/vaishnavi-eklaspur/EDS-ASSIGNMENT/blob/main/ASSIGNMENT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import csv
f1=open("/content/STUDENTDETAILS - Sheet1.csv",'r')
f2=open("/content/PLACEMENT - Sheet1.csv",'r')
f3=open("/content/GRADES - Sheet1.csv",'r')
f4=open("/content/FINAL.csv",'w')

#reading the files
data1=list(csv.reader(f1, delimiter=','))
data2=list(csv.reader(f2, delimiter=','))
data3=list(csv.reader(f3, delimiter=','))

#printing the file contents
print("THE STUDENT DETAIL FILE CONTENTS ARE:",data1,"\n")
print("THE PLACEMENT FILE DETAILS ARE:",data2,"\n")
print("THE GRADES FILE DETAILS ARE:",data3,"\n")

#merging files
data4=[]
for i in range(len(data1)):
    data4.append(data1[i]+data2[i]+data3[i])
    cf4=csv.writer(f4)
    cf4.writerows(data4)
print ("\n\nThe merged file is:",data4)


#extracting and printing salary data
SALARY=[]
for i in range(1,len(data2)):
    SALARY.append(int(data2[i][2]))
print("\nThe salary data is:")
for i in SALARY:
    print(i)

#extracting and printing grades data
GRADES=[]
for i in range(1,len(data3)):
    GRADES.append(data3[i][1])
print("\nThe salary data is:")
for i in GRADES:
    print(i)

#max and min salary and salary
print("\nThe max salary is:",max(SALARY))
print("\nThe min salary is:",min(SALARY))
print("\nThe highest grade is:",max(GRADES))
print("\nThe lowest grade is:",min(GRADES))


#avg salary
sum=0
for i in SALARY:
    sum=sum+i
print("The average salary is:",sum/len(SALARY))

#function to display top 5 salaries in the file
def top5sal(data4):
    data4.sort(key=lambda x: x[5], reverse=True)
    print("\nTop 5 salary records are:")
    for i in range(5):
        print(data4[i+1])

top5sal(data4)#calling the function

#closing the file
f1.close()
f2.close()
f3.close()
f4.close()

THE STUDENT DETAIL FILE CONTENTS ARE: [['NAME', 'ROLL NO', 'GENDER', 'BATCH'], ['Priyali', '201', 'F', 'B1'], ['Sumitra', '202', 'F', 'B2'], ['Nandini', '203', 'F', 'B3'], ['Aswini', '204', 'F', 'B4'], ['Aaditya', '205', 'M', 'B1'], ['Soham ', '206', 'M', 'B2'], ['Kedar', '207', 'M', 'B3'], ['Oliver', '208', 'M', 'B4'], ['Parth', '209', 'M', 'B2'], ['Darshan', '210', 'M', 'B4']]

THE PLACEMENT FILE DETAILS ARE: [['ROLL NO', 'COMPANY NAME', 'SALARY'], ['201', 'LG', '1000000'], ['202', 'PANASONIC', '2000000'], ['203', 'HITACHI', '1500000'], ['204', 'WOLKSWAGEN', '3500000'], ['205', 'TATA', '4000000'], ['206', 'YESBANK', '100000'], ['207', 'UNILIVER INDIA', '2000000'], ['208', 'INFOSYS', '2500000'], ['209', 'DEILLOITE', '1700000'], ['210', 'RELIANCE ', '1900000']]

THE GRADES FILE DETAILS ARE: [['ROLL NO', 'CORE', 'PSYCHOLOGY', 'ECONOMICS'], ['201', 'AB', 'DD', 'CC'], ['202', 'BB', 'BC', 'AB'], ['203', 'BC', 'EE', 'EE'], ['204', 'AA', 'AB', 'BC'], ['205', 'DD', 'CC', 'DD'], ['206', 'CC', 'DD', 'AB'], ['207', 'AB', 'AA', 'BB'], ['208', 'EE', 'BC', 'CC'], ['209', 'BC', 'BB', 'AA'], ['210', 'DD', 'AB', 'DD']]



The merged file is: [['NAME', 'ROLL NO', 'GENDER', 'BATCH', 'ROLL NO', 'COMPANY NAME', 'SALARY', 'ROLL NO', 'CORE', 'PSYCHOLOGY', 'ECONOMICS'], ['Priyali', '201', 'F', 'B1', '201', 'LG', '1000000', '201', 'AB', 'DD', 'CC'], ['Sumitra', '202', 'F', 'B2', '202', 'PANASONIC', '2000000', '202', 'BB', 'BC', 'AB'], ['Nandini', '203', 'F', 'B3', '203', 'HITACHI', '1500000', '203', 'BC', 'EE', 'EE'], ['Aswini', '204', 'F', 'B4', '204', 'WOLKSWAGEN', '3500000', '204', 'AA', 'AB', 'BC'], ['Aaditya', '205', 'M', 'B1', '205', 'TATA', '4000000', '205', 'DD', 'CC', 'DD'], ['Soham ', '206', 'M', 'B2', '206', 'YESBANK', '100000', '206', 'CC', 'DD', 'AB'], ['Kedar', '207', 'M', 'B3', '207', 'UNILIVER INDIA', '2000000', '207', 'AB', 'AA', 'BB'], ['Oliver', '208', 'M', 'B4', '208', 'INFOSYS', '2500000', '208', 'EE', 'BC', 'CC'], ['Parth', '209', 'M', 'B2', '209', 'DEILLOITE', '1700000', '209', 'BC', 'BB', 'AA'], ['Darshan', '210', 'M', 'B4', '210', 'RELIANCE ', '1900000', '210', 'DD', 'AB', 'DD']]

The salary data is:
1000000
2000000
1500000
3500000
4000000
100000
2000000
2500000
1700000
1900000

The salary data is:
AB
BB
BC
AA
DD
CC
AB
EE
BC
DD

The max salary is: 4000000

The min salary is: 100000

The highest grade is: EE

The lowest grade is: AA
The average salary is: 2020000.0

Top 5 salary records are:
['Aswini', '204', 'F', 'B4', '204', 'WOLKSWAGEN', '3500000', '204', 'AA', 'AB', 'BC']
['Kedar', '207', 'M', 'B3', '207', 'UNILIVER INDIA', '2000000', '207', 'AB', 'AA', 'BB']
['Aaditya', '205', 'M', 'B1', '205', 'TATA', '4000000', '205', 'DD', 'CC', 'DD']
['Darshan', '210', 'M', 'B4', '210', 'RELIANCE ', '1900000', '210', 'DD', 'AB', 'DD']
['Sumitra', '202', 'F', 'B2', '202', 'PANASONIC', '2000000', '202', 'BB', 'BC', 'AB']