<a href="https://colab.research.google.com/github/vaishnavi-eklaspur/EDS-ASSIGNMENT/blob/main/Copy_of_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("/content/imdb data.csv")
print(df)

                 Series_Title Released_Year Certificate  Runtime  \
0    The Shawshank Redemption          1994           A  142 min
1               The Godfather          1972           A  175 min
2             The Dark Knight          2008          UA  152 min
3      The Godfather: Part II          1974           A  202 min
4                12 Angry Men          1957           U   96 min
..                        ...           ...         ...      ...
995    Breakfast at Tiffany's          1961           A  115 min
996                     Giant          1956           G  201 min
997     From Here to Eternity          1953      Passed  118 min
998                  Lifeboat          1944         NaN   97 min
999              The 39 Steps          1935         NaN   86 min

                        Genre  IMDB_Rating  Meta_score              Director  \
0                       Drama          9.3        80.0        Frank Darabont
1                Crime, Drama          9.2       100.0  Francis Ford Coppola
2        Action, Crime, Drama          9.0        84.0     Christopher Nolan
3                Crime, Drama          9.0        90.0  Francis Ford Coppola
4                Crime, Drama          9.0        96.0          Sidney Lumet
..                        ...          ...         ...                   ...
995    Comedy, Drama, Romance          7.6        76.0         Blake Edwards
996            Drama, Western          7.6        84.0        George Stevens
997       Drama, Romance, War          7.6        85.0        Fred Zinnemann
998                Drama, War          7.6        78.0      Alfred Hitchcock
999  Crime, Mystery, Thriller          7.6        93.0      Alfred Hitchcock

                 Star1              Star2  No_of_Votes        Gross
0          Tim Robbins     Morgan Freeman      2343110   28,341,469
1        Marlon Brando          Al Pacino      1620367  134,966,411
2       Christian Bale       Heath Ledger      2303232  534,858,444
3            Al Pacino     Robert De Niro      1129952   57,300,000
4          Henry Fonda        Lee J. Cobb       689845    4,360,000
..                 ...                ...          ...          ...
995     Audrey Hepburn     George Peppard       166544          NaN
996   Elizabeth Taylor        Rock Hudson        34075          NaN
997     Burt Lancaster   Montgomery Clift        43374   30,500,000
998  Tallulah Bankhead        John Hodiak        26471          NaN
999       Robert Donat  Madeleine Carroll        51853          NaN

[1000 rows x 12 columns]

In [ ]:
# The first 5 rows of the dataset
print(df.head())

               Series_Title Released_Year Certificate  Runtime  \
0  The Shawshank Redemption          1994           A  142 min
1             The Godfather          1972           A  175 min
2           The Dark Knight          2008          UA  152 min
3    The Godfather: Part II          1974           A  202 min
4              12 Angry Men          1957           U   96 min

                  Genre  IMDB_Rating  Meta_score              Director  \
0                 Drama          9.3        80.0        Frank Darabont
1          Crime, Drama          9.2       100.0  Francis Ford Coppola
2  Action, Crime, Drama          9.0        84.0     Christopher Nolan
3          Crime, Drama          9.0        90.0  Francis Ford Coppola
4          Crime, Drama          9.0        96.0          Sidney Lumet

            Star1           Star2  No_of_Votes        Gross
0     Tim Robbins  Morgan Freeman      2343110   28,341,469
1   Marlon Brando       Al Pacino      1620367  134,966,411
2  Christian Bale    Heath Ledger      2303232  534,858,444
3       Al Pacino  Robert De Niro      1129952   57,300,000
4     Henry Fonda     Lee J. Cobb       689845    4,360,000

In [ ]:
# The total number of rows and columns in the dataset
print(df.shape)

(1000, 12)

In [ ]:
# Find the highest rated movie in the dataset
highest_rated_movie = df.loc[df['IMDB_Rating'].idxmax()]
print('Highest Rated Movie:', highest_rated_movie['Series_Title'])

Highest Rated Movie: The Shawshank Redemption

In [ ]:
# The Highest IMDB Rating
highest_imdb = df['IMDB_Rating'].max()
print(highest_imdb)

9.3

In [ ]:
#Sort the movies by their release year in ascending order.
sorted_by_year = df.sort_values('Released_Year')
print(sorted_by_year['Series_Title'])

321    Das Cabinet des Dr. Caligari
127                         The Kid
568                       Nosferatu
194                    Sherlock Jr.
193                   The Gold Rush
                   ...
464                     Dil Bechara
18                         Hamilton
20                  Soorarai Pottru
613                            Druk
966                       Apollo 13
Name: Series_Title, Length: 1000, dtype: object

In [ ]:
# Calculate the total number of votes for each director
votes_by_director = df.groupby('Director')['No_of_Votes'].sum().reset_index()
print("Total number of votes for each director:")
print(votes_by_director)

Total number of votes for each director:
                Director  No_of_Votes
0             Aamir Khan       168895
1           Aaron Sorkin        89896
2    Abdellatif Kechiche       138741
3       Abhishek Chaubey        27175
4        Abhishek Kapoor        32628
..                   ...          ...
543          Zack Snyder      1233675
544       Zaza Urushadze        40382
545          Zoya Akhtar        99813
546          Çagan Irmak        78925
547     Ömer Faruk Sorak        56960

[548 rows x 2 columns]

In [ ]:
#Find the director with the most movies
director_most_movies = df['Director'].value_counts().idxmax()
print("Director with the most movies:", director_most_movies)

Director with the most movies: Alfred Hitchcock

In [ ]:
#Get the top 5 highest-rated movies
top_5_movies = df.nlargest(5, 'IMDB_Rating')
print("Top 5 highest-rated movies:")
print(top_5_movies[['Series_Title', 'IMDB_Rating']])

Top 5 highest-rated movies:
               Series_Title  IMDB_Rating
0  The Shawshank Redemption          9.3
1             The Godfather          9.2
2           The Dark Knight          9.0
3    The Godfather: Part II          9.0
4              12 Angry Men          9.0

In [ ]:
#Get the list of unique movie certificates.
unique_certificates = df['Certificate'].unique()
print("Unique movie certificates:", unique_certificates)

Unique movie certificates: ['A' 'UA' 'U' 'PG-13' 'R' nan 'PG' 'G' 'Passed' 'TV-14' '16' 'TV-MA'
 'Unrated' 'GP' 'Approved' 'TV-PG' 'U/A']

In [ ]:
#Get the list of movies with a rating above a certain threshold.
rating_threshold = 8.0
high_rating_movies = df[df['IMDB_Rating'] > rating_threshold]['Series_Title']
print("Movies with a rating above", rating_threshold, ":")
print(high_rating_movies)

Movies with a rating above 8.0 :
0           The Shawshank Redemption
1                      The Godfather
2                    The Dark Knight
3             The Godfather: Part II
4                       12 Angry Men
                   ...
317       La passion de Jeanne d'Arc
318                       The Circus
319    Sunrise: A Song of Two Humans
320                      The General
321     Das Cabinet des Dr. Caligari
Name: Series_Title, Length: 322, dtype: object

In [ ]:
#Find the movies starring Tom Hanks.
tom_hanks_movies = df[df['Star1'].str.contains('Tom Hanks')]
print(tom_hanks_movies)

            Series_Title Released_Year Certificate  Runtime  \
11          Forrest Gump          1994          UA  142 min
24   Saving Private Ryan          1998           R  169 min
25        The Green Mile          1999           A  189 min
101            Toy Story          1995           U   81 min
151          Toy Story 3          2010           U  103 min
596          Toy Story 4          2019           U  100 min
604     Captain Phillips          2013          UA  134 min
647            Cast Away          2000          UA  143 min
791    Road to Perdition          2002           A  117 min
818         Philadelphia          1993          UA  125 min
890      Bridge of Spies          2015          UA  142 min
966            Apollo 13            PG           U  140 min

                            Genre  IMDB_Rating  Meta_score          Director  \
11                 Drama, Romance          8.8        82.0   Robert Zemeckis
24                     Drama, War          8.6        91.0  Steven Spielberg
25          Crime, Drama, Fantasy          8.6        61.0    Frank Darabont
101  Animation, Adventure, Comedy          8.3        95.0     John Lasseter
151  Animation, Adventure, Comedy          8.2        92.0       Lee Unkrich
596  Animation, Adventure, Comedy          7.8        84.0       Josh Cooley
604   Adventure, Biography, Crime          7.8        82.0   Paul Greengrass
647     Adventure, Drama, Romance          7.8        73.0   Robert Zemeckis
791        Crime, Drama, Thriller          7.7        72.0        Sam Mendes
818                         Drama          7.7        66.0    Jonathan Demme
890      Drama, History, Thriller          7.6        81.0  Steven Spielberg
966     Adventure, Drama, History          7.6        77.0        Ron Howard

         Star1                  Star2  No_of_Votes        Gross
11   Tom Hanks           Robin Wright      1809221  330,252,182
24   Tom Hanks             Matt Damon      1235804  216,540,909
25   Tom Hanks  Michael Clarke Duncan      1147794  136,801,374
101  Tom Hanks              Tim Allen       887429  191,796,233
151  Tom Hanks              Tim Allen       757032  415,004,880
596  Tom Hanks              Tim Allen       203177  434,038,008
604  Tom Hanks           Barkhad Abdi       421244  107,100,855
647  Tom Hanks             Helen Hunt       524235  233,632,142
791  Tom Hanks         Tyler Hoechlin       246840  104,454,762
818  Tom Hanks      Denzel Washington       224169   77,324,422
890  Tom Hanks           Mark Rylance       287659   72,313,754
966  Tom Hanks            Bill Paxton       269197  173,837,933

In [ ]:
#Count the number of movies in each genre category.
genre_counts = df['Genre'].value_counts()
print(genre_counts)

Drama                        85
Drama, Romance               37
Comedy, Drama                35
Comedy, Drama, Romance       31
Action, Crime, Drama         30
                             ..
Adventure, Thriller           1
Animation, Action, Sci-Fi     1
Action, Crime, Comedy         1
Animation, Crime, Mystery     1
Adventure, Comedy, War        1
Name: Genre, Length: 202, dtype: int64

In [ ]:
#Group the dataset by the release year and calculate the average rating for each year
average_rating_year = df.groupby('Released_Year')['IMDB_Rating'].mean()
print(average_rating_year)

Released_Year
1920    8.100000
1921    8.300000
1922    7.900000
1924    8.200000
1925    8.100000
          ...
2017    7.890909
2018    7.994737
2019    7.995652
2020    8.133333
PG      7.600000
Name: IMDB_Rating, Length: 100, dtype: float64

In [ ]:
#Find the movie with the highest votes
highest_votes_movie = df.loc[df['No_of_Votes'].idxmax()]
print('high vote Movie:', highest_votes_movie['Series_Title'])

high vote Movie: The Shawshank Redemption

In [ ]:
#Find the top 10 movies with the highest ratings
top_10_movies = df.nlargest(10, 'IMDB_Rating')
print(top_10_movies)

                                    Series_Title Released_Year Certificate  \
0                       The Shawshank Redemption          1994           A
1                                  The Godfather          1972           A
2                                The Dark Knight          2008          UA
3                         The Godfather: Part II          1974           A
4                                   12 Angry Men          1957           U
5  The Lord of the Rings: The Return of the King          2003           U
6                                   Pulp Fiction          1994           A
7                               Schindler's List          1993           A
8                                      Inception          2010          UA
9                                     Fight Club          1999           A

   Runtime                      Genre  IMDB_Rating  Meta_score  \
0  142 min                      Drama          9.3        80.0
1  175 min               Crime, Drama          9.2       100.0
2  152 min       Action, Crime, Drama          9.0        84.0
3  202 min               Crime, Drama          9.0        90.0
4   96 min               Crime, Drama          9.0        96.0
5  201 min   Action, Adventure, Drama          8.9        94.0
6  154 min               Crime, Drama          8.9        94.0
7  195 min  Biography, Drama, History          8.9        94.0
8  148 min  Action, Adventure, Sci-Fi          8.8        74.0
9  139 min                      Drama          8.8        66.0

               Director              Star1                 Star2  No_of_Votes  \
0        Frank Darabont        Tim Robbins        Morgan Freeman      2343110
1  Francis Ford Coppola      Marlon Brando             Al Pacino      1620367
2     Christopher Nolan     Christian Bale          Heath Ledger      2303232
3  Francis Ford Coppola          Al Pacino        Robert De Niro      1129952
4          Sidney Lumet        Henry Fonda           Lee J. Cobb       689845
5         Peter Jackson        Elijah Wood       Viggo Mortensen      1642758
6     Quentin Tarantino      John Travolta           Uma Thurman      1826188
7      Steven Spielberg        Liam Neeson         Ralph Fiennes      1213505
8     Christopher Nolan  Leonardo DiCaprio  Joseph Gordon-Levitt      2067042
9         David Fincher          Brad Pitt         Edward Norton      1854740

         Gross
0   28,341,469
1  134,966,411
2  534,858,444
3   57,300,000
4    4,360,000
5  377,845,905
6  107,928,762
7   96,898,818
8  292,576,195
9   37,030,102

In [ ]:
#Sort the dataset by movie duration in ascending order
sorted_df = df.sort_values('Runtime')
print(sorted_df.head())

             Series_Title Released_Year Certificate  Runtime  \
456    The Maltese Falcon          1941         NaN  100 min
711  To Have and Have Not          1944          PG  100 min
783              Coraline          2009           U  100 min
710             Key Largo          1948         NaN  100 min
907                 50/50          2011           R  100 min

                            Genre  IMDB_Rating  Meta_score         Director  \
456            Film-Noir, Mystery          8.0        96.0      John Huston
711  Adventure, Comedy, Film-Noir          7.8         NaN     Howard Hawks
783      Animation, Drama, Family          7.7        80.0     Henry Selick
710          Action, Crime, Drama          7.8         NaN      John Huston
907        Comedy, Drama, Romance          7.6        72.0  Jonathan Levine

                    Star1               Star2  No_of_Votes       Gross
456       Humphrey Bogart          Mary Astor       148928   2,108,060
711       Humphrey Bogart       Lauren Bacall        31053         NaN
783        Dakota Fanning        Teri Hatcher       197761  75,286,229
710       Humphrey Bogart  Edward G. Robinson        36995         NaN
907  Joseph Gordon-Levitt          Seth Rogen       315426  35,014,192

In [ ]:
#Find the lowest rated movie in the dataset
lowest_rated_movie = df.loc[df['IMDB_Rating'].idxmin()]
print('Lowest Rated Movie:', lowest_rated_movie['Series_Title'])

Lowest Rated Movie: Dark Waters